<section class="nz-grid">
  <div class="glossary-nav">
    <div class="glossary-buttons">
        <a class="btn btn-secondary btn-sm" role="button" href="/staging-site/about/foreword">Foreword</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/staging-site/about/history">History</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/staging-site/about/lab-journey">Lab Journey</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/staging-site/about/work-programme">Work Programme</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/staging-site/about/sponsors">Sponsors</a>
    </div>
  </div>
</section>
