<section class="nz-grid">
  <div class="glossary-nav">
    <div class="glossary-buttons">
        <a class="btn btn-secondary btn-sm" role="button" href="/staging-site/about/our-story">Our Story</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/staging-site/about/purpose">Purpose</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/staging-site/about/work-programme">Work Programme</a>
        <a class="btn btn-secondary btn-sm" role="button" href="/staging-site/about/history">History</a>
    </div>
  </div>
</section>
