.filter-button {
  border: 1px solid #223cc6;
  background-color: white;
  color: #223cc6;;

  &.active-filter {
    border: 1px solid #ffffff;
    background-color: #223cc6;;
    color: #ffffff;
  }
}
